<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJTIMgOrASvzcG_18DsXgh9FoXsuKF_fo</string>
	<key>GCM_SENDER_ID</key>
	<string>1039323401149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.activeworks</string>
	<key>PROJECT_ID</key>
	<string>timer-5d5fc</string>
	<key>STORAGE_BUCKET</key>
	<string>timer-5d5fc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039323401149:ios:b7d87fb2b1665fdbc660d4</string>
</dict>
</plist>